
<%= simple_form_for(@model) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :company %>
    <%= f.input :name %>
    <%= f.input :avail %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
