
<%= simple_form_for(@repair) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.collection_select @company_id, @c, :company_id, :name, prompt: true %>
    <%= f.collection_select :model_id, Model.where("company_id = ?", @company_id), :model_id, :name, prompt: true %>
    <%= f.association :model %>
    <%= f.association :problem %>
    <%= f.input :other %>
    <%= f.input :pick_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
