<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @repair.model.name %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @repair.problem.issue %>
</p>

<p>
  <strong>Other:</strong>
  <%= @repair.other %>
</p>

<p>
  <strong>Pick date:</strong>
  <%= @repair.pick_date %>
</p>

<%= link_to 'Edit', edit_repair_path(@repair) %> |
<%= link_to 'Back', repairs_path %>
